In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
orig_df=pd.read_csv('./Resource Files/airport_ratings_passengers.csv')

In [4]:
orig_df

,Unnamed: 0,Airport,Code,Originating Domestic Passengers 10%,Originating Domestic Passengers
0,1,"Los Angeles, CA: Los Angeles International",LAX,"1,564,494",15644940
1,2,"Chicago, IL: Chicago O'Hare International",ORD,"1,266,224",12662240
2,3,"Denver, CO: Denver International",DEN,"1,241,394",12413940
3,4,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",ATL,"1,128,009",11280090
4,5,"Boston, MA: Logan International",BOS,"1,043,353",10433530
...,...,...,...,...,...
381,382,"Telluride, CO: Telluride Regional",TEX,124,1240
382,383,"Dodge City, KS: Dodge City Regional",DDC,119,1190
383,384,"Provincetown, MA: Provincetown Municipal",PVC,118,1180
384,385,"Rutland, VT: Rutland - Southern Vermont Regional",RUT,114,1140
385,386,"Rockland, ME: Knox County Regional",RKD,113,1130

In [5]:
df = orig_df.loc[orig_df['Originating Domestic Passengers']>=2000000]

In [6]:
df

,Unnamed: 0,Airport,Code,Originating Domestic Passengers 10%,Originating Domestic Passengers
0,1,"Los Angeles, CA: Los Angeles International",LAX,"1,564,494",15644940
1,2,"Chicago, IL: Chicago O'Hare International",ORD,"1,266,224",12662240
2,3,"Denver, CO: Denver International",DEN,"1,241,394",12413940
3,4,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",ATL,"1,128,009",11280090
4,5,"Boston, MA: Logan International",BOS,"1,043,353",10433530
5,6,"San Francisco, CA: San Francisco International",SFO,"1,013,794",10137940
6,7,"Seattle, WA: Seattle/Tacoma International",SEA,"1,001,502",10015020
7,8,"Newark, NJ: Newark Liberty International",EWR,"938,695",9386950
8,9,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",DFW,"935,860",9358600
9,10,"Orlando, FL: Orlando International",MCO,"873,096",8730960
10,11,"New York, NY: John F. Kennedy International",JFK,"830,008",8300080
11,12,"Phoenix, AZ: Phoenix Sky Harbor International",PHX,"816,031",8160310
12,13,"New York, NY: LaGuardia",LGA,"801,538",8015380
13,14,"Las Vegas, NV: McCarran International",LAS,"773,745",7737450
14,15,"Minneapolis, MN: Minneapolis-St Paul Internati...",MSP,"726,465",7264650
15,16,"Philadelphia, PA: Philadelphia International",PHL,"694,107",6941070
16,17,"Detroit, MI: Detroit Metro Wayne County",DTW,"655,017",6550170
17,18,"San Diego, CA: San Diego International",SAN,"653,382",6533820
18,19,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",FLL,"636,760",6367600
19,20,"Baltimore, MD: Baltimore/Washington Internatio...",BWI,"628,088",6280880
20,21,"Houston, TX: George Bush Intercontinental/Houston",IAH,"578,011",5780110
21,22,"Washington, DC: Ronald Reagan Washington National",DCA,"562,560",5625600
22,23,"Tampa, FL: Tampa International",TPA,"541,352",5413520
23,24,"Portland, OR: Portland International",PDX,"537,905",5379050
24,25,"Austin, TX: Austin - Bergstrom International",AUS,"488,498",4884980
25,26,"Salt Lake City, UT: Salt Lake City International",SLC,"448,431",4484310
26,27,"Charlotte, NC: Charlotte Douglas International",CLT,"439,658",4396580
27,28,"San Jose, CA: Norman Y. Mineta San Jose Intern...",SJC,"438,478",4384780
28,29,"Raleigh/Durham, NC: Raleigh-Durham International",RDU,"417,339",4173390
29,30,"Chicago, IL: Chicago Midway International",MDW,"415,696",4156960
30,31,"Nashville, TN: Nashville International",BNA,"413,833",4138330
31,32,"Sacramento, CA: Sacramento International",SMF,"405,082",4050820
32,33,"Oakland, CA: Metropolitan Oakland International",OAK,"389,248",3892480
33,34,"Miami, FL: Miami International",MIA,"388,762",3887620
34,35,"St. Louis, MO: St Louis Lambert International",STL,"367,059",3670590
35,36,"Kansas City, MO: Kansas City International",MCI,"350,507",3505070
36,37,"Dallas, TX: Dallas Love Field",DAL,"337,688",3376880
37,38,"Honolulu, HI: Daniel K Inouye International",HNL,"327,764",3277640
38,39,"Cleveland, OH: Cleveland-Hopkins International",CLE,"318,712",3187120
39,40,"New Orleans, LA: Louis Armstrong New Orleans I...",MSY,"316,979",3169790
40,41,"Washington, DC: Washington Dulles International",IAD,"314,108",3141080
41,42,"Indianapolis, IN: Indianapolis International",IND,"296,292",2962920
42,43,"Pittsburgh, PA: Pittsburgh International",PIT,"295,056",2950560
43,44,"Santa Ana, CA: John Wayne Airport-Orange County",SNA,"287,349",2873490
44,45,"Houston, TX: William P Hobby",HOU,"285,339",2853390
45,46,"Cincinnati, OH: Cincinnati/Northern Kentucky I...",CVG,"282,179",2821790
46,47,"San Antonio, TX: San Antonio International",SAT,"272,582",2725820
47,48,"Columbus, OH: John Glenn Columbus International",CMH,"262,874",2628740
48,49,"Hartford, CT: Bradley International",BDL,"232,144",2321440
49,50,"Fort Myers, FL: Southwest Florida International",RSW,"222,337",2223370
50,51,"Milwaukee, WI: General Mitchell International",MKE,"221,655",2216550
51,52,"San Juan, PR: Luis Munoz Marin International",SJU,"215,090",2150900

In [17]:
df_one=pd.read_csv('airports.csv')
df_one.rename(columns={"IATA": "Code"}, inplace=True)
df_one

,Code,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ADK,Adak,Adak,AK,USA,51.877964,-176.646031
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998
4,CDV,Merle K (Mudhole) Smith,Cordova,AK,USA,60.491834,-145.477650
...,...,...,...,...,...,...,...
336,RKS,Rock Springs-Sweetwater County,Rock Springs,WY,USA,41.594217,-109.065193
337,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
338,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
339,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
340,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384

In [20]:
merged_airports = pd.merge(df, df_one, on="Code", how="left")
merged_airports

KeyError: 'Code'