In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
airports_df = pd.read_csv('./Resource Files/airports.csv')
airports_df

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ADK,Adak,Adak,AK,USA,51.877964,-176.646031
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998
4,CDV,Merle K (Mudhole) Smith,Cordova,AK,USA,60.491834,-145.477650
...,...,...,...,...,...,...,...
336,RKS,Rock Springs-Sweetwater County,Rock Springs,WY,USA,41.594217,-109.065193
337,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
338,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
339,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
340,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384

In [8]:
airports_df_sorted = airports_df.sort_values(by=["STATE","City"])

In [25]:
airports_df_sorted.head(20)
airports_df_sorted.rename(columns={"CITY":"City"}, inplace=True)
airports_df_sorted

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ADK,Adak,Adak,AK,USA,51.877964,-176.646031
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998
4,CDV,Merle K (Mudhole) Smith,Cordova,AK,USA,60.491834,-145.477650
...,...,...,...,...,...,...,...
336,RKS,Rock Springs-Sweetwater County,Rock Springs,WY,USA,41.594217,-109.065193
337,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
338,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
339,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
340,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384

In [18]:
airports_df_sorted.to_csv('airports.csv', index=False)

In [20]:
zillow_df=pd.read_csv('./Resource Files/Zillow.csv')
zillow_df

,RegionID,SizeRank,City,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021
0,28124,21482,Anchor Point,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,177446,178979,180275,181152,182632,184261,185641,186201,187226,187923
1,23482,75,Anchorage,City,AK,AK,Anchorage,Anchorage Borough,124382.0,124813.0,...,325109,327167,328447,329679,333744,337350,342606,346383,348342,349256
2,50997,16107,Big Lake,City,AK,AK,Anchorage,Matanuska Susitna Borough,NaN,NaN,...,180589,180263,179999,180947,181409,182209,182958,182468,180942,179412
3,4089,20490,Chiniak,City,AK,AK,NaN,Kodiak Island Borough,NaN,NaN,...,244124,245467,246982,248377,249151,249097,250023,251322,253995,255739
4,10832,29449,Clam Gulch,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,194203,195920,197728,199309,201143,203076,204630,205864,207080,208053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25597,48466,6204,Wheatland,City,WY,WY,NaN,Platte County,NaN,NaN,...,222651,222849,223067,223429,223755,224419,225217,226078,227099,228388
25598,14671,10281,Wilson,City,WY,WY,Jackson,Teton County,NaN,NaN,...,1804165,1792924,1782245,1768537,1761790,1754819,1752594,1738168,1723221,1705122
25599,23322,6655,Worland,City,WY,WY,NaN,Washakie County,NaN,NaN,...,172355,172459,172821,173305,173875,174456,175162,175941,176939,177760
25600,34921,29449,Wright,City,WY,WY,Gillette,Campbell County,NaN,NaN,...,232114,230455,228712,227385,226223,225063,223787,222605,221723,220420
25601,36376,25059,Yoder,City,WY,WY,NaN,Goshen County,NaN,NaN,...,244381,246574,248474,249300,249878,251926,252623,254171,255667,258653

In [27]:
zillow_df_sorted = zillow_df.sort_values(by=['State', 'City'])

In [28]:
zillow_df_sorted.to_csv('zillow.csv', index=False)

In [29]:
merged_df=pd.merge(airports_df_sorted, zillow_df_sorted, on="City", how="left")

In [30]:
merged_df

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE,RegionID,SizeRank,RegionType,...,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021
0,ADK,Adak,Adak,AK,USA,51.877964,-176.646031,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186,23482.0,75.0,City,...,325109.0,327167.0,328447.0,329679.0,333744.0,337350.0,342606.0,346383.0,348342.0,349256.0
2,BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998,397682.0,3015.0,City,...,342688.0,345597.0,349536.0,354108.0,358666.0,363818.0,368816.0,374487.0,380359.0,387375.0
4,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998,55649.0,26963.0,City,...,202577.0,204974.0,207650.0,210112.0,211571.0,213045.0,214720.0,217570.0,220730.0,225710.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,RKS,Rock Springs-Sweetwater County,Rock Springs,WY,USA,41.594217,-109.065193,13556.0,1949.0,City,...,236258.0,236594.0,237127.0,237831.0,238575.0,239744.0,240961.0,242081.0,243232.0,244395.0
1436,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged_df_clean = merged_df.dropna()

In [ ]:
merged_df_clean

In [ ]:
merged_df_clean.to_csv('merged.csv', index=False)

In [ ]:
merged_df_clean.columns

In [ ]:
merged_df_clean.dtypes

In [ ]:
airport_traffic_df = pd.read_csv('../Project Data/airport_ratings_passengers.csv')
airport_traffic_df
del airport_traffic_df['Unnamed: 0']
airport_traffic_df

In [ ]:
airport_traffic_df.to_csv('airport_traffic_csv', index=False)

In [ ]:
DataSetNew=pd.merge(airport_traffic_df, merged_df_clean, on="City", how="left")

In [ ]:
DataSetNew.dropna(inplace=True)
DataSetNew.head(25)

In [ ]:
DataSetNew.to_csv('combined.csv', index=False)

In [ ]:
zillow_sales = zillow_df
zillow_sales

In [ ]:
zillow_sales_1996=zillow_sales.groupby(["State","Metro"])

In [ ]:
zillow_sales_1996.sum()

In [ ]:
col_list = list(zillow_sales)