In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
airports_df = pd.read_csv('./Resource Files/airports.csv')
airports_df

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ADK,Adak,Adak,AK,USA,51.877964,-176.646031
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998
4,CDV,Merle K (Mudhole) Smith,Cordova,AK,USA,60.491834,-145.477650
...,...,...,...,...,...,...,...
336,RKS,Rock Springs-Sweetwater County,Rock Springs,WY,USA,41.594217,-109.065193
337,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
338,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
339,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
340,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384

In [8]:
airports_df_sorted = airports_df.sort_values(by=["STATE","City"])

In [25]:
airports_df_sorted.head(20)
airports_df_sorted.rename(columns={"CITY":"City"}, inplace=True)
airports_df_sorted

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ADK,Adak,Adak,AK,USA,51.877964,-176.646031
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998
4,CDV,Merle K (Mudhole) Smith,Cordova,AK,USA,60.491834,-145.477650
...,...,...,...,...,...,...,...
336,RKS,Rock Springs-Sweetwater County,Rock Springs,WY,USA,41.594217,-109.065193
337,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
338,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
339,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
340,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384

In [18]:
airports_df_sorted.to_csv('airports.csv', index=False)

In [20]:
zillow_df=pd.read_csv('./Resource Files/Zillow.csv')
zillow_df

,RegionID,SizeRank,City,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021
0,28124,21482,Anchor Point,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,177446,178979,180275,181152,182632,184261,185641,186201,187226,187923
1,23482,75,Anchorage,City,AK,AK,Anchorage,Anchorage Borough,124382.0,124813.0,...,325109,327167,328447,329679,333744,337350,342606,346383,348342,349256
2,50997,16107,Big Lake,City,AK,AK,Anchorage,Matanuska Susitna Borough,NaN,NaN,...,180589,180263,179999,180947,181409,182209,182958,182468,180942,179412
3,4089,20490,Chiniak,City,AK,AK,NaN,Kodiak Island Borough,NaN,NaN,...,244124,245467,246982,248377,249151,249097,250023,251322,253995,255739
4,10832,29449,Clam Gulch,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,194203,195920,197728,199309,201143,203076,204630,205864,207080,208053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25597,48466,6204,Wheatland,City,WY,WY,NaN,Platte County,NaN,NaN,...,222651,222849,223067,223429,223755,224419,225217,226078,227099,228388
25598,14671,10281,Wilson,City,WY,WY,Jackson,Teton County,NaN,NaN,...,1804165,1792924,1782245,1768537,1761790,1754819,1752594,1738168,1723221,1705122
25599,23322,6655,Worland,City,WY,WY,NaN,Washakie County,NaN,NaN,...,172355,172459,172821,173305,173875,174456,175162,175941,176939,177760
25600,34921,29449,Wright,City,WY,WY,Gillette,Campbell County,NaN,NaN,...,232114,230455,228712,227385,226223,225063,223787,222605,221723,220420
25601,36376,25059,Yoder,City,WY,WY,NaN,Goshen County,NaN,NaN,...,244381,246574,248474,249300,249878,251926,252623,254171,255667,258653

In [27]:
zillow_df_sorted = zillow_df.sort_values(by=['State', 'City'])

In [28]:
zillow_df_sorted.to_csv('zillow.csv', index=False)

In [29]:
merged_df=pd.merge(airports_df_sorted, zillow_df_sorted, on="City", how="left")

In [30]:
merged_df

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE,RegionID,SizeRank,RegionType,...,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021
0,ADK,Adak,Adak,AK,USA,51.877964,-176.646031,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186,23482.0,75.0,City,...,325109.0,327167.0,328447.0,329679.0,333744.0,337350.0,342606.0,346383.0,348342.0,349256.0
2,BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998,397682.0,3015.0,City,...,342688.0,345597.0,349536.0,354108.0,358666.0,363818.0,368816.0,374487.0,380359.0,387375.0
4,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998,55649.0,26963.0,City,...,202577.0,204974.0,207650.0,210112.0,211571.0,213045.0,214720.0,217570.0,220730.0,225710.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,RKS,Rock Springs-Sweetwater County,Rock Springs,WY,USA,41.594217,-109.065193,13556.0,1949.0,City,...,236258.0,236594.0,237127.0,237831.0,238575.0,239744.0,240961.0,242081.0,243232.0,244395.0
1436,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
merged_df_clean = merged_df.dropna()

In [32]:
merged_df_clean

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE,RegionID,SizeRank,RegionType,...,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186,23482.0,75.0,City,...,325109.0,327167.0,328447.0,329679.0,333744.0,337350.0,342606.0,346383.0,348342.0,349256.0
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998,397682.0,3015.0,City,...,342688.0,345597.0,349536.0,354108.0,358666.0,363818.0,368816.0,374487.0,380359.0,387375.0
4,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998,55649.0,26963.0,City,...,202577.0,204974.0,207650.0,210112.0,211571.0,213045.0,214720.0,217570.0,220730.0,225710.0
6,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998,50300.0,25259.0,City,...,231679.0,232830.0,235039.0,237622.0,240670.0,243985.0,248221.0,253548.0,258719.0,262964.0
10,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998,3653.0,3966.0,City,...,157012.0,158197.0,159848.0,162217.0,164259.0,166348.0,168423.0,170997.0,173943.0,177354.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1405,HTS,Tri-State Walker-Long,Huntington,WV,USA,38.366667,-82.558028,12012.0,635.0,City,...,87625.0,87665.0,87667.0,87787.0,88040.0,88661.0,89236.0,89655.0,89842.0,90028.0
1409,LWB,Greenbrier Valley,Lewisburg,WV,USA,37.858306,-80.399472,9949.0,2653.0,City,...,171996.0,172953.0,173896.0,174592.0,175616.0,176941.0,178379.0,179823.0,181210.0,182651.0
1428,JAC,Jackson Hole,Jackson,WY,USA,43.607324,-110.737739,55961.0,3493.0,City,...,111583.0,111864.0,112154.0,112501.0,113123.0,114273.0,115655.0,117068.0,118355.0,119710.0
1430,JAC,Jackson Hole,Jackson,WY,USA,43.607324,-110.737739,39133.0,529.0,City,...,129446.0,130802.0,132372.0,134067.0,135746.0,137271.0,138937.0,140810.0,143443.0,146329.0
1431,JAC,Jackson Hole,Jackson,WY,USA,43.607324,-110.737739,398733.0,5380.0,City,...,273702.0,275662.0,278227.0,281349.0,284864.0,289907.0,296103.0,301866.0,305571.0,308513.0

In [33]:
merged_df_clean.to_csv('merged.csv', index=False)

In [34]:
merged_df_clean.columns

Index(['IATA', 'AIRPORT', 'City', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE',
       'RegionID', 'SizeRank', 'RegionType',
       ...
       '6/30/2020', '7/31/2020', '8/31/2020', '9/30/2020', '10/31/2020',
       '11/30/2020', '12/31/2020', '1/31/2021', '2/28/2021', '3/31/2021'],
      dtype='object', length=317)

In [35]:
merged_df_clean.dtypes

IATA           object
AIRPORT        object
City           object
STATE          object
COUNTRY        object
               ...
11/30/2020    float64
12/31/2020    float64
1/31/2021     float64
2/28/2021     float64
3/31/2021     float64
Length: 317, dtype: object

In [39]:
airport_traffic_df = pd.read_csv('./Resource Files/airport_ratings_passengers.csv')
airport_traffic_df
del airport_traffic_df['Unnamed: 0']
airport_traffic_df

,Airport,Code,Originating Domestic Passengers 10%,Originating Domestic Passengers
0,"Los Angeles, CA: Los Angeles International",LAX,"1,564,494",15644940
1,"Chicago, IL: Chicago O'Hare International",ORD,"1,266,224",12662240
2,"Denver, CO: Denver International",DEN,"1,241,394",12413940
3,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",ATL,"1,128,009",11280090
4,"Boston, MA: Logan International",BOS,"1,043,353",10433530
...,...,...,...,...
381,"Telluride, CO: Telluride Regional",TEX,124,1240
382,"Dodge City, KS: Dodge City Regional",DDC,119,1190
383,"Provincetown, MA: Provincetown Municipal",PVC,118,1180
384,"Rutland, VT: Rutland - Southern Vermont Regional",RUT,114,1140
385,"Rockland, ME: Knox County Regional",RKD,113,1130

In [42]:
zillow_sales = zillow_df
zillow_sales

,RegionID,SizeRank,City,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021
0,28124,21482,Anchor Point,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,177446,178979,180275,181152,182632,184261,185641,186201,187226,187923
1,23482,75,Anchorage,City,AK,AK,Anchorage,Anchorage Borough,124382.0,124813.0,...,325109,327167,328447,329679,333744,337350,342606,346383,348342,349256
2,50997,16107,Big Lake,City,AK,AK,Anchorage,Matanuska Susitna Borough,NaN,NaN,...,180589,180263,179999,180947,181409,182209,182958,182468,180942,179412
3,4089,20490,Chiniak,City,AK,AK,NaN,Kodiak Island Borough,NaN,NaN,...,244124,245467,246982,248377,249151,249097,250023,251322,253995,255739
4,10832,29449,Clam Gulch,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,194203,195920,197728,199309,201143,203076,204630,205864,207080,208053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25597,48466,6204,Wheatland,City,WY,WY,NaN,Platte County,NaN,NaN,...,222651,222849,223067,223429,223755,224419,225217,226078,227099,228388
25598,14671,10281,Wilson,City,WY,WY,Jackson,Teton County,NaN,NaN,...,1804165,1792924,1782245,1768537,1761790,1754819,1752594,1738168,1723221,1705122
25599,23322,6655,Worland,City,WY,WY,NaN,Washakie County,NaN,NaN,...,172355,172459,172821,173305,173875,174456,175162,175941,176939,177760
25600,34921,29449,Wright,City,WY,WY,Gillette,Campbell County,NaN,NaN,...,232114,230455,228712,227385,226223,225063,223787,222605,221723,220420
25601,36376,25059,Yoder,City,WY,WY,NaN,Goshen County,NaN,NaN,...,244381,246574,248474,249300,249878,251926,252623,254171,255667,258653

In [54]:
col_list = list(zillow_sales)
col_list

['RegionID',
 'SizeRank',
 'City',
 'RegionType',
 'StateName',
 'State',
 'Metro',
 'CountyName',
 '1/31/1996',
 '2/29/1996',
 '3/31/1996',
 '4/30/1996',
 '5/31/1996',
 '6/30/1996',
 '7/31/1996',
 '8/31/1996',
 '9/30/1996',
 '10/31/1996',
 '11/30/1996',
 '12/31/1996',
 '1/31/1997',
 '2/28/1997',
 '3/31/1997',
 '4/30/1997',
 '5/31/1997',
 '6/30/1997',
 '7/31/1997',
 '8/31/1997',
 '9/30/1997',
 '10/31/1997',
 '11/30/1997',
 '12/31/1997',
 '1/31/1998',
 '2/28/1998',
 '3/31/1998',
 '4/30/1998',
 '5/31/1998',
 '6/30/1998',
 '7/31/1998',
 '8/31/1998',
 '9/30/1998',
 '10/31/1998',
 '11/30/1998',
 '12/31/1998',
 '1/31/1999',
 '2/28/1999',
 '3/31/1999',
 '4/30/1999',
 '5/31/1999',
 '6/30/1999',
 '7/31/1999',
 '8/31/1999',
 '9/30/1999',
 '10/31/1999',
 '11/30/1999',
 '12/31/1999',
 '1/31/2000',
 '2/29/2000',
 '3/31/2000',
 '4/30/2000',
 '5/31/2000',
 '6/30/2000',
 '7/31/2000',
 '8/31/2000',
 '9/30/2000',
 '10/31/2000',
 '11/30/2000',
 '12/31/2000',
 '1/31/2001',
 '2/28/2001',
 '3/31/2001',
 '4/30/2001',
 '5/31/2001',
 '6/30/2001',
 '7/31/2001',
 '8/31/2001',
 '9/30/2001',
 '10/31/2001',
 '11/30/2001',
 '12/31/2001',
 '1/31/2002',
 '2/28/2002',
 '3/31/2002',
 '4/30/2002',
 '5/31/2002',
 '6/30/2002',
 '7/31/2002',
 '8/31/2002',
 '9/30/2002',
 '10/31/2002',
 '11/30/2002',
 '12/31/2002',
 '1/31/2003',
 '2/28/2003',
 '3/31/2003',
 '4/30/2003',
 '5/31/2003',
 '6/30/2003',
 '7/31/2003',
 '8/31/2003',
 '9/30/2003',
 '10/31/2003',
 '11/30/2003',
 '12/31/2003',
 '1/31/2004',
 '2/29/2004',
 '3/31/2004',
 '4/30/2004',
 '5/31/2004',
 '6/30/2004',
 '7/31/2004',
 '8/31/2004',
 '9/30/2004',
 '10/31/2004',
 '11/30/2004',
 '12/31/2004',
 '1/31/2005',
 '2/28/2005',
 '3/31/2005',
 '4/30/2005',
 '5/31/2005',
 '6/30/2005',
 '7/31/2005',
 '8/31/2005',
 '9/30/2005',
 '10/31/2005',
 '11/30/2005',
 '12/31/2005',
 '1/31/2006',
 '2/28/2006',
 '3/31/2006',
 '4/30/2006',
 '5/31/2006',
 '6/30/2006',
 '7/31/2006',
 '8/31/2006',
 '9/30/2006',
 '10/31/2006',
 '11/30/2006',
 '12/31/2006',
 '1/31/2007',
 '2/28/2007',
 '3/31/2007',
 '4/30/2007',
 '5/31/2007',
 '6/30/2007',
 '7/31/2007',
 '8/31/2007',
 '9/30/2007',
 '10/31/2007',
 '11/30/2007',
 '12/31/2007',
 '1/31/2008',
 '2/29/2008',
 '3/31/2008',
 '4/30/2008',
 '5/31/2008',
 '6/30/2008',
 '7/31/2008',
 '8/31/2008',
 '9/30/2008',
 '10/31/2008',
 '11/30/2008',
 '12/31/2008',
 '1/31/2009',
 '2/28/2009',
 '3/31/2009',
 '4/30/2009',
 '5/31/2009',
 '6/30/2009',
 '7/31/2009',
 '8/31/2009',
 '9/30/2009',
 '10/31/2009',
 '11/30/2009',
 '12/31/2009',
 '1/31/2010',
 '2/28/2010',
 '3/31/2010',
 '4/30/2010',
 '5/31/2010',
 '6/30/2010',
 '7/31/2010',
 '8/31/2010',
 '9/30/2010',
 '10/31/2010',
 '11/30/2010',
 '12/31/2010',
 '1/31/2011',
 '2/28/2011',
 '3/31/2011',
 '4/30/2011',
 '5/31/2011',
 '6/30/2011',
 '7/31/2011',
 '8/31/2011',
 '9/30/2011',
 '10/31/2011',
 '11/30/2011',
 '12/31/2011',
 '1/31/2012',
 '2/29/2012',
 '3/31/2012',
 '4/30/2012',
 '5/31/2012',
 '6/30/2012',
 '7/31/2012',
 '8/31/2012',
 '9/30/2012',
 '10/31/2012',
 '11/30/2012',
 '12/31/2012',
 '1/31/2013',
 '2/28/2013',
 '3/31/2013',
 '4/30/2013',
 '5/31/2013',
 '6/30/2013',
 '7/31/2013',
 '8/31/2013',
 '9/30/2013',
 '10/31/2013',
 '11/30/2013',
 '12/31/2013',
 '1/31/2014',
 '2/28/2014',
 '3/31/2014',
 '4/30/2014',
 '5/31/2014',
 '6/30/2014',
 '7/31/2014',
 '8/31/2014',
 '9/30/2014',
 '10/31/2014',
 '11/30/2014',
 '12/31/2014',
 '1/31/2015',
 '2/28/2015',
 '3/31/2015',
 '4/30/2015',
 '5/31/2015',
 '6/30/2015',
 '7/31/2015',
 '8/31/2015',
 '9/30/2015',
 '10/31/2015',
 '11/30/2015',
 '12/31/2015',
 '1/31/2016',
 '2/29/2016',
 '3/31/2016',
 '4/30/2016',
 '5/31/2016',
 '6/30/2016',
 '7/31/2016',
 '8/31/2016',
 '9/30/2016',
 '10/31/2016',
 '11/30/2016',
 '12/31/2016',
 '1/31/2017',
 '2/28/2017',
 '3/31/2017',
 '4/30/2017',
 '5/31/2017',
 '6/30/2017',
 '7/31/2017',
 '8/31/2017',
 '9/30/2017',
 '10/31/2017',
 '11/30/2017',
 '12/31/2017',
 '1/31/2018',
 '2/28/2018',
 '3/31/2018',
 '4/30/2018',
 '5/31/2018',
 '6/30/2018',
 '7/31/2018',
 '8/31/2018',
 '9/30/2018',
 '10/31/2018',
 '11/30/2018',
 '12/31/2018',
 '1/31/2019',
 '2/28/2019',
 '3/31/2019',
 '4/30/2019',
 '5/31/2019',
 '6/30/2019',
 '7/31/2019',
 '8/31/2019',
 '9/30/2019',
 '10/31/2019',
 '11/30/2019',
 '12/31/2019',
 '1/31/2020',
 '2/29/2020',
 '3/31/2020',
 '4/30/2020',
 '5/31/2020',
 '6/30/2020',
 '7/31/2020',
 '8/31/2020',
 '9/30/2020',
 '10/31/2020',
 '11/30/2020',
 '12/31/2020',
 '1/31/2021',
 '2/28/2021',
 '3/31/2021',
 '1996_Total']

In [64]:
# zillow_sales['Test_Total']=(zillow_sales[['1/31/2000', '2/29/2000', '3/31/2000', '4/30/2000', '5/31/2000', '6/30/2000', '7/31/2000',
#                                           '8/31/2000','9/30/2000', '10/31/2000', '11/30/2000', '12/31/2000']].sum(axis=1))

In [92]:
zillow_sales['1996_Total']=zillow_sales.iloc[:,8:20].sum(axis=1)
zillow_sales['1996_Mean']=zillow_sales.iloc[:,8:20].mean(axis=1)

zillow_sales['1997_Total']=zillow_sales.iloc[:,20:32].sum(axis=1)
zillow_sales['1997_Mean']=zillow_sales.iloc[:,20:32].mean(axis=1)

zillow_sales['1998_Total']=zillow_sales.iloc[:,32:44].sum(axis=1)
zillow_sales['1998_Mean']=zillow_sales.iloc[:,32:44].mean(axis=1)

zillow_sales['1999_Total']=zillow_sales.iloc[:,44:56].sum(axis=1)
zillow_sales['1999_Mean']=zillow_sales.iloc[:,44:56].mean(axis=1)

,RegionID,SizeRank,City,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,1996_Total,1996_Mean,1997_Total,1997_Mean,Test_Total
0,28124,21482,Anchor Point,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,184261,185641,186201,187226,187923,0.0,NaN,0.0,NaN,0.0
1,23482,75,Anchorage,City,AK,AK,Anchorage,Anchorage Borough,124382.0,124813.0,...,337350,342606,346383,348342,349256,1522878.0,126906.5,1569351.0,130779.25,1569351.0
2,50997,16107,Big Lake,City,AK,AK,Anchorage,Matanuska Susitna Borough,NaN,NaN,...,182209,182958,182468,180942,179412,0.0,NaN,0.0,NaN,0.0
3,4089,20490,Chiniak,City,AK,AK,NaN,Kodiak Island Borough,NaN,NaN,...,249097,250023,251322,253995,255739,0.0,NaN,0.0,NaN,0.0
4,10832,29449,Clam Gulch,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,203076,204630,205864,207080,208053,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25597,48466,6204,Wheatland,City,WY,WY,NaN,Platte County,NaN,NaN,...,224419,225217,226078,227099,228388,0.0,NaN,0.0,NaN,0.0
25598,14671,10281,Wilson,City,WY,WY,Jackson,Teton County,NaN,NaN,...,1754819,1752594,1738168,1723221,1705122,0.0,NaN,0.0,NaN,0.0
25599,23322,6655,Worland,City,WY,WY,NaN,Washakie County,NaN,NaN,...,174456,175162,175941,176939,177760,0.0,NaN,0.0,NaN,0.0
25600,34921,29449,Wright,City,WY,WY,Gillette,Campbell County,NaN,NaN,...,225063,223787,222605,221723,220420,0.0,NaN,0.0,NaN,0.0
25601,36376,25059,Yoder,City,WY,WY,NaN,Goshen County,NaN,NaN,...,251926,252623,254171,255667,258653,0.0,NaN,0.0,NaN,0.0

In [107]:
zillow_sales['2000_Total']=zillow_sales.iloc[:,56:68].sum(axis=1)
zillow_sales['2000_Mean']=zillow_sales.iloc[:,56:68].mean(axis=1)

zillow_sales['2001_Total']=zillow_sales.iloc[:,68:70].sum(axis=1)
zillow_sales['2001_Mean']=zillow_sales.iloc[:,68:70].mean(axis=1)

zillow_sales['2002_Total']=zillow_sales.iloc[:,70:82].sum(axis=1)
zillow_sales['2002_Mean']=zillow_sales.iloc[:,70:82].mean(axis=1)

zillow_sales['2003_Total']=zillow_sales.iloc[:,82:94].sum(axis=1)
zillow_sales['2003_Mean']=zillow_sales.iloc[:,82:94].mean(axis=1)

zillow_sales['2004_Total']=zillow_sales.iloc[:,94:106].sum(axis=1)
zillow_sales['2004_Mean']=zillow_sales.iloc[:,94:106].mean(axis=1)

zillow_sales['2005_Total']=zillow_sales.iloc[:,106:118].sum(axis=1)
zillow_sales['2005_Mean']=zillow_sales.iloc[:,106:118].mean(axis=1)

zillow_sales['2006_Total']=zillow_sales.iloc[:,118:130].sum(axis=1)
zillow_sales['2006_Mean']=zillow_sales.iloc[:,118:130].mean(axis=1)

zillow_sales['2007_Total']=zillow_sales.iloc[:,130:142].sum(axis=1)
zillow_sales['2007_Mean']=zillow_sales.iloc[:,130:142].mean(axis=1)

zillow_sales['2008_Total']=zillow_sales.iloc[:,142:154].sum(axis=1)
zillow_sales['2008_Mean']=zillow_sales.iloc[:,142:154].mean(axis=1)

zillow_sales['2009_Total']=zillow_sales.iloc[:,154:166].sum(axis=1)
zillow_sales['2009_Mean']=zillow_sales.iloc[:,154:166].mean(axis=1)

zillow_sales['2010_Total']=zillow_sales.iloc[:,154:166].sum(axis=1)
zillow_sales['2010_Mean']=zillow_sales.iloc[:,154:166].mean(axis=1)

zillow_sales

,RegionID,SizeRank,City,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,2006_Total,2006_Mean,2007_Total,2007_Mean,2008_Total,2008_Mean,2009_Total,2009_Mean,2010_Total,2010_Mean
0,28124,21482,Anchor Point,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,1450586.0,1.208822e+05,1619801.0,1.349834e+05,1722896.0,1.435747e+05,1736200.0,1.446833e+05,1736200.0,1.446833e+05
1,23482,75,Anchorage,City,AK,AK,Anchorage,Anchorage Borough,124382.0,124813.0,...,2795314.0,2.329428e+05,3027170.0,2.522642e+05,3186357.0,2.655298e+05,3235864.0,2.696553e+05,3235864.0,2.696553e+05
2,50997,16107,Big Lake,City,AK,AK,Anchorage,Matanuska Susitna Borough,NaN,NaN,...,1711571.0,1.426309e+05,1813082.0,1.510902e+05,1824320.0,1.520267e+05,1841175.0,1.534312e+05,1841175.0,1.534312e+05
3,4089,20490,Chiniak,City,AK,AK,NaN,Kodiak Island Borough,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,10832,29449,Clam Gulch,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,1612824.0,1.344020e+05,1744973.0,1.454144e+05,1817392.0,1.514493e+05,1834994.0,1.529162e+05,1834994.0,1.529162e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25597,48466,6204,Wheatland,City,WY,WY,NaN,Platte County,NaN,NaN,...,1207980.0,1.098164e+05,1444072.0,1.203393e+05,1514001.0,1.261668e+05,1589638.0,1.324698e+05,1589638.0,1.324698e+05
25598,14671,10281,Wilson,City,WY,WY,Jackson,Teton County,NaN,NaN,...,12394732.0,1.377192e+06,19839706.0,1.653309e+06,21109221.0,1.759102e+06,21125965.0,1.760497e+06,21125965.0,1.760497e+06
25599,23322,6655,Worland,City,WY,WY,NaN,Washakie County,NaN,NaN,...,1030749.0,1.288436e+05,1543785.0,1.286488e+05,1565188.0,1.304323e+05,1636168.0,1.363473e+05,1636168.0,1.363473e+05
25600,34921,29449,Wright,City,WY,WY,Gillette,Campbell County,NaN,NaN,...,2262588.0,1.885490e+05,2524879.0,2.104066e+05,2540336.0,2.116947e+05,2551925.0,2.126604e+05,2551925.0,2.126604e+05
25601,36376,25059,Yoder,City,WY,WY,NaN,Goshen County,NaN,NaN,...,0.0,NaN,0.0,NaN,320694.0,1.603470e+05,1950151.0,1.625126e+05,1950151.0,1.625126e+05

In [108]:
zillow_sales['2011_Total']=zillow_sales.iloc[:,166:178].sum(axis=1)
zillow_sales['2011_Mean']=zillow_sales.iloc[:,166:178].mean(axis=1)

zillow_sales['2012_Total']=zillow_sales.iloc[:,178:190].sum(axis=1)
zillow_sales['2012_Mean']=zillow_sales.iloc[:,178:190].mean(axis=1)

zillow_sales['2013_Total']=zillow_sales.iloc[:,190:202].sum(axis=1)
zillow_sales['2013_Mean']=zillow_sales.iloc[:,190:202].mean(axis=1)

zillow_sales['2014_Total']=zillow_sales.iloc[:,202:214].sum(axis=1)
zillow_sales['2014_Mean']=zillow_sales.iloc[:,202:214].mean(axis=1)

zillow_sales['2015_Total']=zillow_sales.iloc[:,214:226].sum(axis=1)
zillow_sales['2015_Mean']=zillow_sales.iloc[:,214:226].mean(axis=1)

zillow_sales['2016_Total']=zillow_sales.iloc[:,226:238].sum(axis=1)
zillow_sales['2016_Mean']=zillow_sales.iloc[:,226:238].mean(axis=1)

zillow_sales['2017_Total']=zillow_sales.iloc[:,238:250].sum(axis=1)
zillow_sales['2017_Mean']=zillow_sales.iloc[:,238:250].mean(axis=1)

zillow_sales['2018_Total']=zillow_sales.iloc[:,250:262].sum(axis=1)
zillow_sales['2018_Mean']=zillow_sales.iloc[:,250:262].mean(axis=1)

zillow_sales['2019_Total']=zillow_sales.iloc[:,262:274].sum(axis=1)
zillow_sales['2019_Mean']=zillow_sales.iloc[:,262:274].mean(axis=1)

zillow_sales

,RegionID,SizeRank,City,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,2015_Total,2015_Mean,2016_Total,2016_Mean,2017_Total,2017_Mean,2018_Total,2018_Mean,2019_Total,2019_Mean
0,28124,21482,Anchor Point,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,1780455.0,1.483712e+05,1843073.0,1.535894e+05,1879097.0,1.565914e+05,1891544.0,1.576287e+05,1877346.0,1.564455e+05
1,23482,75,Anchorage,City,AK,AK,Anchorage,Anchorage Borough,124382.0,124813.0,...,3365466.0,2.804555e+05,3454958.0,2.879132e+05,3542012.0,2.951677e+05,3557073.0,2.964228e+05,3526414.0,2.938678e+05
2,50997,16107,Big Lake,City,AK,AK,Anchorage,Matanuska Susitna Borough,NaN,NaN,...,1673054.0,1.394212e+05,1714485.0,1.428738e+05,1847881.0,1.539901e+05,1805830.0,1.504858e+05,1847325.0,1.539438e+05
3,4089,20490,Chiniak,City,AK,AK,NaN,Kodiak Island Borough,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,404574.0,2.022870e+05
4,10832,29449,Clam Gulch,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,1879912.0,1.566593e+05,1954424.0,1.628687e+05,2034569.0,1.695474e+05,2064750.0,1.720625e+05,2063036.0,1.719197e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25597,48466,6204,Wheatland,City,WY,WY,NaN,Platte County,NaN,NaN,...,1882229.0,1.568524e+05,1982543.0,1.652119e+05,2080553.0,1.733794e+05,2171462.0,1.809552e+05,2271638.0,1.893032e+05
25598,14671,10281,Wilson,City,WY,WY,Jackson,Teton County,NaN,NaN,...,16358126.0,1.363177e+06,17217668.0,1.434806e+06,17926545.0,1.493879e+06,18560388.0,1.546699e+06,18920983.0,1.576749e+06
25599,23322,6655,Worland,City,WY,WY,NaN,Washakie County,NaN,NaN,...,1712654.0,1.427212e+05,1775282.0,1.479402e+05,1831728.0,1.526440e+05,1863916.0,1.553263e+05,1890048.0,1.575040e+05
25600,34921,29449,Wright,City,WY,WY,Gillette,Campbell County,NaN,NaN,...,2559164.0,2.132637e+05,2646651.0,2.205542e+05,2717849.0,2.264874e+05,2770086.0,2.308405e+05,2827051.0,2.355876e+05
25601,36376,25059,Yoder,City,WY,WY,NaN,Goshen County,NaN,NaN,...,2141741.0,1.784784e+05,2208806.0,1.840672e+05,2299673.0,1.916394e+05,2442222.0,2.035185e+05,2560789.0,2.133991e+05

In [112]:
zillow_sales['2020_Total']=zillow_sales.iloc[:,274:286].sum(axis=1)
zillow_sales['2020_Mean']=zillow_sales.iloc[:,274:286].mean(axis=1)

zillow_sales['2021_Total Q1']=zillow_sales.iloc[:,286:288].sum(axis=1)
zillow_sales['2021_Mean Q1']=zillow_sales.iloc[:,286:288].mean(axis=1)

In [118]:
zillow_sales

,RegionID,SizeRank,City,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,2017_Total,2017_Mean,2018_Total,2018_Mean,2019_Total,2019_Mean,2020_Total,2020_Mean,2021_Total Q1,2021_Mean Q1
0,28124,21482,Anchor Point,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,1879097.0,1.565914e+05,1891544.0,1.576287e+05,1877346.0,1.564455e+05,1916018.0,1.596682e+05,332718,166359.0
1,23482,75,Anchorage,City,AK,AK,Anchorage,Anchorage Borough,124382.0,124813.0,...,3542012.0,2.951677e+05,3557073.0,2.964228e+05,3526414.0,2.938678e+05,3557453.0,2.964544e+05,617779,308889.5
2,50997,16107,Big Lake,City,AK,AK,Anchorage,Matanuska Susitna Borough,NaN,NaN,...,1847881.0,1.539901e+05,1805830.0,1.504858e+05,1847325.0,1.539438e+05,1915139.0,1.595949e+05,330258,165129.0
3,4089,20490,Chiniak,City,AK,AK,NaN,Kodiak Island Borough,NaN,NaN,...,0.0,NaN,0.0,NaN,404574.0,2.022870e+05,2510557.0,2.092131e+05,439192,219596.0
4,10832,29449,Clam Gulch,City,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,2034569.0,1.695474e+05,2064750.0,1.720625e+05,2063036.0,1.719197e+05,2035182.0,1.695985e+05,352746,176373.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25597,48466,6204,Wheatland,City,WY,WY,NaN,Platte County,NaN,NaN,...,2080553.0,1.733794e+05,2171462.0,1.809552e+05,2271638.0,1.893032e+05,2402672.0,2.002227e+05,413807,206903.5
25598,14671,10281,Wilson,City,WY,WY,Jackson,Teton County,NaN,NaN,...,17926545.0,1.493879e+06,18560388.0,1.546699e+06,18920983.0,1.576749e+06,20131743.0,1.677645e+06,3398429,1699214.5
25599,23322,6655,Worland,City,WY,WY,NaN,Washakie County,NaN,NaN,...,1831728.0,1.526440e+05,1863916.0,1.553263e+05,1890048.0,1.575040e+05,1939442.0,1.616202e+05,324781,162390.5
25600,34921,29449,Wright,City,WY,WY,Gillette,Campbell County,NaN,NaN,...,2717849.0,2.264874e+05,2770086.0,2.308405e+05,2827051.0,2.355876e+05,2843310.0,2.369425e+05,469538,234769.0
25601,36376,25059,Yoder,City,WY,WY,NaN,Goshen County,NaN,NaN,...,2299673.0,1.916394e+05,2442222.0,2.035185e+05,2560789.0,2.133991e+05,2789556.0,2.324630e+05,476328,238164.0

In [126]:
state_group = zillow_sales.groupby(["State", "City"])
state_group.sum()

                    RegionID  SizeRank  1/31/1996  2/29/1996  3/31/1996  \
State City
AK    Anchor Point     28124     21482        0.0        0.0        0.0
      Anchorage        23482        75   124382.0   124813.0   125101.0
      Big Lake         50997     16107        0.0        0.0        0.0
      Chiniak           4089     20490        0.0        0.0        0.0
      Clam Gulch       10832     29449        0.0        0.0        0.0
...                      ...       ...        ...        ...        ...
WY    Wheatland        48466      6204        0.0        0.0        0.0
      Wilson           14671     10281        0.0        0.0        0.0
      Worland          23322      6655        0.0        0.0        0.0
      Wright           34921     29449        0.0        0.0        0.0
      Yoder            36376     25059        0.0        0.0        0.0

                    4/30/1996  5/31/1996  6/30/1996  7/31/1996  8/31/1996  \
State City
AK    Anchor Point        0.0        0.0        0.0        0.0        0.0
      Anchorage      125794.0   126329.0   126951.0   127508.0   127951.0
      Big Lake            0.0        0.0        0.0        0.0        0.0
      Chiniak             0.0        0.0        0.0        0.0        0.0
      Clam Gulch          0.0        0.0        0.0        0.0        0.0
...                       ...        ...        ...        ...        ...
WY    Wheatland           0.0        0.0        0.0        0.0        0.0
      Wilson              0.0        0.0        0.0        0.0        0.0
      Worland             0.0        0.0        0.0        0.0        0.0
      Wright              0.0        0.0        0.0        0.0        0.0
      Yoder               0.0        0.0        0.0        0.0        0.0

                    ...  2017_Total     2017_Mean  2018_Total     2018_Mean  \
State City          ...
AK    Anchor Point  ...   1879097.0  1.565914e+05   1891544.0  1.576287e+05
      Anchorage     ...   3542012.0  2.951677e+05   3557073.0  2.964228e+05
      Big Lake      ...   1847881.0  1.539901e+05   1805830.0  1.504858e+05
      Chiniak       ...         0.0  0.000000e+00         0.0  0.000000e+00
      Clam Gulch    ...   2034569.0  1.695474e+05   2064750.0  1.720625e+05
...                 ...         ...           ...         ...           ...
WY    Wheatland     ...   2080553.0  1.733794e+05   2171462.0  1.809552e+05
      Wilson        ...  17926545.0  1.493879e+06  18560388.0  1.546699e+06
      Worland       ...   1831728.0  1.526440e+05   1863916.0  1.553263e+05
      Wright        ...   2717849.0  2.264874e+05   2770086.0  2.308405e+05
      Yoder         ...   2299673.0  1.916394e+05   2442222.0  2.035185e+05

                    2019_Total     2019_Mean  2020_Total     2020_Mean  \
State City
AK    Anchor Point   1877346.0  1.564455e+05   1916018.0  1.596682e+05
      Anchorage      3526414.0  2.938678e+05   3557453.0  2.964544e+05
      Big Lake       1847325.0  1.539438e+05   1915139.0  1.595949e+05
      Chiniak         404574.0  2.022870e+05   2510557.0  2.092131e+05
      Clam Gulch     2063036.0  1.719197e+05   2035182.0  1.695985e+05
...                        ...           ...         ...           ...
WY    Wheatland      2271638.0  1.893032e+05   2402672.0  2.002227e+05
      Wilson        18920983.0  1.576749e+06  20131743.0  1.677645e+06
      Worland        1890048.0  1.575040e+05   1939442.0  1.616202e+05
      Wright         2827051.0  2.355876e+05   2843310.0  2.369425e+05
      Yoder          2560789.0  2.133991e+05   2789556.0  2.324630e+05

                    2021_Total Q1  2021_Mean Q1
State City
AK    Anchor Point         332718      166359.0
      Anchorage            617779      308889.5
      Big Lake             330258      165129.0
      Chiniak              439192      219596.0
      Clam Gulch           352746      176373.0
...                           ...           ...
WY    Wheatland            413807      206903.5
      Wilson              3398429     1699214.5
      Worland              324781      162390.5
      Wright               469538      234769.0
      Yoder                476328      238164.0

[25540 rows x 358 columns]